
body {
    background-color: #F8E8B4;
    font-family: Raleway, sans-serif;
}

nav {
    background-color: #D7816A;
}

.navbar-brand {
    font-family: Caveat, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
}

.navbar-brand:hover {
    font-weight: bolder;
    color: #F6E2A2;
}

#navbarText {
    font-family: Raleway, sans-serif;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
}

nav span {
    color: #fff;
    text-decoration: none;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    font-weight: bolder;
    color: #F8E8B4;
}

.row {
    background-color: #F8E8B4;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #B48CBA;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.recipe-heading {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    max-height: 100vh;
    width: 100%;
}

.recipe-text {
    background-color: #B48CBA;
    color: #fff;
    position: relative;
}

.recipe-image {
    position: relative;
    overflow: hidden;
}

.recipe-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #B48CBA;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    color: #A1442B;
    text-decoration: none;
}

.post-link:hover,
.page-link {
    color: #A1442B;
}

.card-title:hover {
    color: #A1442B;
    font-weight: 800;
}

.recipe-title {
    margin-top: 20%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: #fff;
}

.card-text-ingredients {
    background-color: #73937E;
    color: #fff;
    padding: 1%;
}

.card-text-method {
    background-color: #D4775E;
    color: #fff;
    padding: 1%;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #F6E2A2;
    text-decoration: none;
}

.link:hover,
.link:active {
    font-weight: 800;
    color: #F6E2A2;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #F6E2A2;
    background: transparent;
    border: none;
}

footer {
    background-color: #B48CBA;
}

.fab {
    text-decoration: none;
    color: #fff;
}

.post-recipe {
    background-color: #B48CBA;
    color: #fff;
    margin: 1%;
}

.account {
    background-color: #D4775E;
    color: #fff;
    padding: 1%;
}