{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<!-- Page only accessible by admin users to post new categories -->
<div class="col-md-4 card mb-4  mt-3 ">
    <div class="card-body">
        {% if request.user.is_superuser %}

        <h3>Post a Category</h3>
        <form method="post" action="{% url 'post_category' %}" class="mt-5">
            {{ category_form | crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock content %}
