{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Recipe Detail page accessible when clicking on the title of a recipe on the homepage -->
<div class="recipe-heading">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 recipe-text">
                <h1 class="recipe-title">
                    {{ recipe.title }}
                </h1>
                <p class="recipe-subtitle"> {{ recipe.author }} | {{ recipe.posted_on }} </p>
                <p class="recipe-subtitle"> Total time: {{ recipe.total_time }} </p>
                {% if recipe.author == request.user %}
                <p class="recipe-subtitle">
                    <a href="{% url 'edit_recipe' recipe.slug %}" class="btn btn-signup">Edit Recipe</a>
                </p>
                <p class="recipe-subtitle">
                    <a href="#" class="btn btn-signup" data-bs-toggle="modal" data-bs-target="#modal-delete">Delete
                        Recipe</a>
                </p>

                <!-- Modal from Bootstrap5 to check user is sure they want to delete their recipe -->
                <div class="modal fade text-dark" id="modal-delete" tabindex="-1" aria-labelledby="modal-delete-label"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modal-delete-label">Delete Recipe</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this recipe?
                                <br>
                                <small class="text-muted">Warning! This action cannot be undone.</small>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_recipe' recipe.slug %}" class="btn btn-danger">Delete Recipe</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="d-none d-md-block col-md-6 recipe-image">
                {% if "placeholder" in recipe.image.url %}
                <img src="{% static 'images/placeholder.jpg' %}" alt="bowl of baking ingredients" class="w-100">
                {% else %}
                <img src="{{ recipe.image.url }}" alt="recipe image" class="w-100">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <div class="card-text-ingredients">
                    <h2>Ingredients:</h2><br>
                    {{ recipe.ingredients|linebreaksbr }}
                </div>
                <br>
                <div class="card-text-method">
                    <h2>Method:</h2><br>
                    {{ recipe.method|linebreaksbr }}
                </div>
                <br>
                <div class="row">
                    <div class="col-1">
                            <!-- Recipe likes -->
                            {% if user.is_authenticated %}
                            <form method="POST" class="d-inline" action="{% url 'recipe_likes' recipe.slug %}">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="recipepost_id" value="{{recipe.slug}}" class="btn-like">
                                    <i class="far fa-heart"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ recipe.number_of_likes }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}